
/**********************************/
/* CSS for responsive grid layout */
/**********************************/
.col{
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    vertical-align: top;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}
.col-1{
    width:  8.33333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
}
.col-md-offset-5 {
    margin-left: 41.66666667%;
    margin-right: 41.66666667%;
}
.col-md-offset-4 {
    margin-left: 33.33333333%;
    margin-right: 33.33333333%;
}
.col-md-offset-3 {
    margin-left: 25%;
    margin-right: 25%;
}
.col-md-offset-2 {
    margin-left: 16.66666667%;
    margin-right: 16.66666667%;
}
.col-md-offset-1 {
    margin-left: 8.33333333%;
    margin-right: 8.3333333%;
}
.col-md-offset-0 {
    margin-left: 0;
}





/*************************/
/* CSS for helper styles */
/*************************/
.bottom-border-highlighted{
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.7);
}

.animate-fast{
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
.animate-fast{
    -webkit-transition: all ease-out .4s;
    -moz-transition: all ease-out .4s;
    -o-transition: all ease-out .4s;
    transition: all ease-out .4s;
}
.animate-hide {
    transition: all linear 0.5s;
    opacity: 1;
    overflow: hidden;
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    max-height: 0;
}

.hidden{
    display: none;
}

.transparet{
    opacity: 0;
}

.box{
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 10px 0;
}

.icon-image{
    width: 30px;
    height: 30px;
    margin: -10px 0;
    vertical-align: 1px;
}
.ellipsis-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/**********************************/
/* CSS for base html dom elements */
/**********************************/

/*  Header elements  */
header{
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
    z-index: 1;
}
html, body{
   height: 100%; 
}
body{
    background: url('../img/body-background.jpg') no-repeat fixed;
    background-size: cover;
    position: relative;
}




/***********************/
/* CSS header elements */
/***********************/
#logo{
    position: absolute;
    height: 28px;
    margin: 26px 0px 26px 40px
}
.search-box{
    position: absolute;
    margin-right: 26px;
    margin-top: 28px;
    margin-bottom: 28px;
    top: 0px;
    right: 0px;
}
.search-box input{
    background-color: black;
    color: white;
    outline: 0;
    padding: 6px;
}


/*************************/
/* CSS web body elements */
/*************************/
#page-loader{
    width: 0%;
    height: 2px;
    background: #E82A38;
    display: block;
}
#main-container{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #666666;
}
#notification-container{
    background-color: #D3D3D3;
    color: rgb(40,40,40);
    height: 18px;
}







/*******************************/
/* CSS media diff screen sizes */
/*******************************/
@media screen and (max-width: 840px) {
    .col-md-offset-1 {
        margin-left: 0%;
    }
    .col-10, .col-11{
        width: 100%;
    }
}

