/****************/
/* IMPORT FONTS */
/****************/

@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot?-3a50i6');
    src: url('../fonts/icons.eot?#iefix-3a50i6') format('embedded-opentype'),url('../fonts/icons.woff?-3a50i6') format('woff'),url('../fonts/icons.ttf?-3a50i6') format('truetype'),url('../fonts/icons.svg?-3a50i6#icons') format('svg');
    font-weight:normal;
    font-style:normal;
}


/**********************************/
/* CSS for responsive grid layout */
/**********************************/
.row{
    width: 100%;
    display: inline-flex;
}
.col{
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    vertical-align: top;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    width: 100%;
}
.col-1{
    width:  8.33333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
}
.col-md-offset-5 {
    margin-left: 41.66666667%;
    margin-right: 41.66666667%;
}
.col-md-offset-4 {
    margin-left: 33.33333333%;
    margin-right: 33.33333333%;
}
.col-md-offset-3 {
    margin-left: 25%;
    margin-right: 25%;
}
.col-md-offset-2 {
    margin-left: 16.66666667%;
    margin-right: 16.66666667%;
}
.col-md-offset-1 {
    margin-left: 8.33333333%;
    margin-right: 8.3333333%;
}
.col-md-offset-0 {
    margin-left: 0;
}





/*************************/
/* CSS for helper styles */
/*************************/
.bottom-border-highlighted{
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.7);
}

.animate-fast{
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
.animate-slow{
    -webkit-transition: all ease-out .4s;
    -moz-transition: all ease-out .4s;
    -o-transition: all ease-out .4s;
    transition: all ease-out .4s;
}
.animate-hide {
    transition: all linear 0.5s;
    opacity: 1;
    overflow: hidden;
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    max-height: 0;
}

.hidden{
    display: none;
}
.invisible{
    visibility: hidden;
}

.transparet{
    opacity: 0;
}

.box{
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 10px 0;
}

.icon-image{
    width: 30px;
    height: 30px;
    margin: -10px 0;
    vertical-align: 1px;
}
.ellipsis-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clickable{
    cursor: pointer;
}

.errorHighlight{
    
}


/**********************************/
/* CSS for base html dom elements */
/**********************************/

/*  Header elements  */
header{
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
    z-index: 1;
}
html, body{
   height: 100%; 
}
body{
    background: url('../img/body-background.jpg') no-repeat fixed;
    background-size: cover;
    position: relative;
}
body :focus {
    outline: none;
    background-color: orange !important;
}
a.button:focus{
    background-color: #D3D3D3 !important;  
    color: rgb(40,40,40); 
}




/***********************/
/* CSS header elements */
/***********************/
#logo{
    position: absolute;
    height: 28px;
    margin: 26px 0px 26px 40px
}
.search-box{
    position: absolute;
    margin-right: 26px;
    margin-top: 28px;
    margin-bottom: 28px;
    top: 0px;
    right: 0px;
}
.search-box input{
    background-color: black;
    color: white;
    outline: 0;
    padding: 6px;
}


/*****************************/
/* CSS web app body elements */
/*****************************/
#page-loader{
    width: 0%;
    height: 2px;
    background: #E82A38;
    display: block;
}
#main-container{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #666666;
}
#notification-container{
    background-color: #D3D3D3;
    color: rgb(40,40,40);
    height: 18px;
}


/* CSS quick actions elements */
#top-buttons-container{
    padding: 14px 0;
    position: relative;
    z-index: 10;
}
.top-button{
    background: black;
    vertical-align: top;
    background-size: 117px 117px;
    background-position: 50% 170%;
    background-repeat: no-repeat;
    height: 160px;
    margin: 0 20px;
    padding: 0;
    overflow: visible;
}
.top-button:focus{
    outline: none;
    background-color: orange !important;
}
.top-button > .title{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.drop-down-menu{
    position: absolute;
    width: 100%;
    top: 125px;
    z-index: 3;
}
.drop-down-menu .default-option{
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 100%;
    background: lightgrey;
    padding: 0px 20px;
    bottom: 0px;
    border: 1px solid lightgrey;
    border-bottom: 0px;
    overflow: hidden;
}
.drop-down-menu .drop-arrow{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 7px;
    right: 15px;
}
.drop-down-menu .drop-arrow > img{
    text-align: right;
    height: 20px;
    width: 20px;
    vertical-align: top;
    transform: rotate(0deg);
    transition: transform 0.4s;
}
.drop-down-options{
    visibility: hidden;
    height: auto;
    max-height: 0px;
    width: 100%;
    background: white;
    top: 160px;
    border-top: 0px;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,.4);
}

.drop-down-options > li {
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    overflow: hidden;
}
.drop-down-options > li > a{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    display: block;
}

.top-button:hover .drop-down-menu .default-option, .top-button.hovered .drop-down-menu .default-option{
    background: whitesmoke;
}
.top-button:hover .drop-down-menu .drop-arrow > img, .top-button.hovered .drop-down-menu .drop-arrow > img{
    transform: rotate(180deg);
}
.top-button:hover .drop-down-options, .top-button.hovered .drop-down-options{
    visibility: visible;
    max-height: 500px;
}

/**************************/
/* CSS web app entry tabs */
/**************************/

#tabs-container{
    width: 100%;
    position: relative;
    z-index: 5;
    margin-bottom: 25px;
}
.tab-buttons{
    height: 40px;
}
.tab-buttons > .button{
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #333;
    color: white;
    overflow: hidden;
    margin: 0 15px;
}
.tab-buttons > .button  p{
    margin: 0px;
    display: inline-block;
}


.tabs-contentainer{
    min-height: 600px;
    margin: 0 15px;
    background-color: lightgrey;
    position: relative;
    padding: 25px;
}

.tab-content{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.tab-iframe{
    width: 100%;
    height: 550px;
    position: absolute;
    border: 0;
    background-color: white; 
    top: 50px;
}

.tab-controllers{
    position: relative;
    height: 40px;
    margin-bottom: 0px;
}

.drop-down-urls{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/arrow.png') right no-repeat;
    background-position: 95% 50%;
    background-color: white;
    float: left;
    height: 35px;
    border: 0;
    border-radius: 0;
    padding: 0 20px;
    width: 238px;
    position: relative;
}

.tab-settings-button, .open-newtab-button{
    cursor: pointer;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: absolute;
    right: 40px;
    top: 10px;
}

.tab-settings-button{
    background: white;
    right: 0;
}

.tab-settings-button > img{
    padding: 9px;
    width: 23px;
}
.open-newtab-button > img{
    width: 50%;
    margin: 25%;
}

/*************************/
/*  CSS for url manager  */
/*************************/

.urls-manager{
    position: absolute;
    width: 100%;
    display: block;
    background-color: white;
    top: 50px;
    padding: 16px 0;
    box-shadow: 0px 5px 9px -3px rgba(0,0,0,.4);
    visibility: hidden;
    max-height: 0;
    z-index: 100;
    overflow: hidden;
}

.urls-manager.editing{
    visibility: visible;
    max-height: 100%;
}

.report-container{
    width: 94%;
    margin: 4px 0;
    position: relative;
    left: 3%;
    background-color: #c8c8c8;
    line-height: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
    overflow: hidden;
}
.report-row-title{
    max-width: 100px;
    text-overflow: clip;
    white-space: nowrap;
}
.report-name{
    display: inline;
    margin-right: 12px;
}
.report-input{
    padding: 3px 9px;
}

.submit-container{
    height: 30px;
    margin: 15px 30px 0px;
}
.cancel-button{
    position: absolute;
    right: 106px;
    padding: 10px 15px;
    cursor: pointer;
}
.save-button{
    position: absolute;
    right: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}











/*********************/
/*  CSS for icons   */
/*********************/
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-star-o:before{
    content: "\f006";
}
.icon-folder-open-o:before{
    content: "\f115";
}
.icon-copy:before{
    content: "\f0c5";
}

/*******************************/
/* CSS media diff screen sizes */
/*******************************/
@media screen and (max-width: 1080px) {
    .top-button, .tab-buttons > .button{
        margin: 0 15px;
    }
    .icon-*{
        left: 10%;
    }
    .col-md-offset-1 {
        margin-left: 0%;
    }
    .col-10, .col-11{
        width: 100%;
    }
}
@media screen and (max-width: 840px) {
    
    .top-button, .tab-buttons > .button, .tabs-contentainer{
        margin: 0 10px;
    }
    .icon-*{
        left: 2%;
    }

}

