<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="WebApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Web App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="MainCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
          <div class="col col-10 col-md-offset-1">
            <a href="#" ng-click="selectTab(0);">
                <img id="logo" src="img/netcraft-logo.png" tabindex="0" alt="netcraft">
            </a>
            <form class="search-box" role="search">
                <input class="bottom-border-highlighted" tabindex="0" type="search" name="q" ng-model="searchText" ng-enter="searchForText(searchText);" placeholder="Search" tabindex="0">
            </form>
          </div>
        </header>
        <div id="page-loader" class="animate-fast"></div>
        <div id="main-container" class="col col-10 col-md-offset-1 transparet animate-fast">
            
            <div id="notification-container" ng-style="notification.style" class="animate-hide box ellipsis-text" ng-show="notification && notification.message" >
                <img class="icon-image" src="img/notification.png" />
                {{notification.message}}
            </div>

            <div id="top-buttons-container" class="row">
                <div class="col top-button" ng-enter-hover ng-hover tabindex="0" ng-style="quickAction.icon" ng-repeat="quickAction in topButtons">
                    <p class="title" ng-bind-html="quickAction.label"></p>
                    <div class="drop-down-menu row">
                        <div class="default-option" ng-bind-html="quickAction.actionsLabel"></div>
                    </div>
                    <ul class="drop-down-options animate-slow">
                        <li ng-repeat="action in quickAction.actions">
                            <a href="{{action.url}}" ng-enter-link tabindex="0" target="_blank" ng-bind-html="action.label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        




        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/plugins.js"></script>
    </body>
</html>
