<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="WebApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Web App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="MainCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
          <div class="col col-10 col-md-offset-1">
            <a href="#" ng-click="selectTab(0);">
                <img id="logo" src="img/netcraft-logo.png" tabindex="0" alt="netcraft">
            </a>
            <form class="search-box" role="search">
                <input class="bottom-border-highlighted" tabindex="0" type="search" name="q" ng-model="searchText" ng-enter="searchForText(searchText);" placeholder="Search" tabindex="0">
            </form>
          </div>
        </header>
        <div id="page-loader" class="animate-fast"></div>
        <div id="scrollable-body">
            <div id="main-container" class="col col-10 col-md-offset-1 transparet animate-fast">
                
                <div id="notification-container" ng-style="notification.style" class="animate-hide box ellipsis-text" ng-show="notification && notification.message" >
                    <img class="icon-image" src="img/notification.png" />
                    {{notification.message}}
                </div>

                <div id="top-buttons-container" class="row">
                    <div class="col top-button" ng-enter-hover ng-hover tabindex="0" ng-style="quickAction.icon" ng-repeat="quickAction in topButtons">
                        <p class="title" ng-bind-html="quickAction.label"></p>
                        <div class="drop-down-menu row">
                            <div class="default-option" ng-bind-html="quickAction.actionsLabel"></div>
                        </div>
                        <ul class="drop-down-options animate-slow">
                            <li ng-repeat="action in quickAction.actions" class="clickable">
                                <a href="{{action.url}}" ng-enter-link tabindex="0" target="_blank" ng-bind-html="action.label"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tabs-container">
                    <div class="tab-buttons row">
                        <a href="#quick-reports" style="{{((selectedTab == 0)?'background-color:#D3D3D3 !important;color:rgb(40,40,40);':'')}}" class="button col clickable">
                            <i class="icon-external-link"></i>
                            <p>Quick Reports</p>
                        </a>
                        <a href="#fmy-folders" style="{{((selectedTab == 1)?'background-color:#D3D3D3 !important;color:rgb(40,40,40);':'')}}" class="button col clickable">
                            <i class="icon-star-o"></i>
                            <p>My Folders</p>
                        </a>
                        <a href="#my-team-folders" style="{{((selectedTab == 2)?'background-color:#D3D3D3 !important;color:rgb(40,40,40);':'')}}" class="button col clickable">
                            <i class="icon-folder-open-o"></i>
                            <p>My Team Folders</p>
                        </a>
                        <a href="#public-folders" style="{{((selectedTab == 3)?'background-color:#D3D3D3 !important;color:rgb(40,40,40);':'')}}" class="button col clickable">
                            <i class="icon-copy"></i>
                            <p>Public Folders</p>
                        </a>
                    </div>
                    <div class="tabs-contentainer" ng-switch="selectedTab">
                        <div class="tab-content" ng-switch-when="0">
                            <div class="tab-controllers row">
                                <select class="{{'drop-down-urls '+((HoldQuickReportUrl.length == 0)?'invisible':'')}}" ng-options="url.title for url in HoldQuickReportUrl" ng-model="quickReportSelectedUrl" ng-change="quickReportSelectedUrlChange(quickReportSelectedUrl);"
                                ></select>
                                <div class="{{'open-newtab-button '+((HoldQuickReportUrl.length > 0)?'':'invisible')}}" tabindex="0" ng-click="openNewTab(quickReportSelectedUrl)">
                                    <img src="img/expand.png" />
                                </div>
                                <div class="tab-settings-button" ng-click="toggleEditing('quickReport');" tabindex="0">
                                    <img src="img/settings.png" />
                                </div>
                            </div>
                            <div class="{{'urls-manager animate-slow '+(( checkUrls(tabs.quickReport.urls) == true || tabs.quickReport.editing == true)?'editing':'')}}">
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 1:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="reportName1" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="reportURL1" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    
                                </div>
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 2:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="reportName2" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="reportURL2" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                </div>
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 3:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="reportName3" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="reportURL3" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                </div>
                                <div class="submit-container">
                                    <div class="cancel-button" ng-click="cancelEditUrls('quickReport')">Cancel</div>
                                    <div class="save-button" ng-click="saveEditUrls('quickReport')">Save</div>
                                </div>
                            </div>
                            <div class="row">
                                <iframe ng-hide="checkUrls(tabs.quickReport.urls) == true" class="tab-iframe" ng-src="{{((quickReportSelectedUrl != -1)? getUrl(quickReportSelectedUrl):'')}}" ></iframe>
                            </div>
                        </div>
                        <div class="tab-content" ng-switch-when="1">
                            <div class="tab-controllers row">
                                <div class="open-newtab-button" style="right:0px" ng-click="openNewTab(tabs.myFolders)" tabindex="0">
                                    <img src="img/expand.png" />
                                </div>
                            </div>
                            <div class="row">
                                <iframe ng-src="{{getUrl(tabs.myFolders)}}" class="tab-iframe" ></iframe>
                            </div>
                        </div>
                        <div class="tab-content" ng-switch-when="2">
                            <div class="tab-controllers row">
                                <select class="{{'drop-down-urls '+((HoldTeamFolderUrl.length == 0)?'invisible':'')}}" ng-options="url.title for url in HoldTeamFolderUrl" ng-model="TeamFolderSelectedUrl" ng-change="TeamFolderSelectedUrlChange(TeamFolderSelectedUrl);"
                                ></select>
                                <div class="{{'open-newtab-button '+((HoldTeamFolderUrl.length > 0)?'':'invisible')}}" tabindex="0" ng-click="openNewTab(TeamFolderSelectedUrl)">
                                    <img src="img/expand.png" />
                                </div>
                                <div class="tab-settings-button" ng-click="toggleEditing('myTeamFolders');" tabindex="0">
                                    <img src="img/settings.png" />
                                </div>
                            </div>
                            <div class="{{'urls-manager animate-slow '+(( checkUrls(tabs.myTeamFolders.urls) == true || tabs.myTeamFolders.editing == true)?'editing':'')}}">
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 4:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="teamFolderName1" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="teamFolderURL1" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    
                                </div>
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 5:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="teamFolderName2" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="teamFolderURL2" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                </div>
                                <div class="report-container row">
                                    <div class="col report-row-title">Report 6:</div>
                                    <div class="col" style="min-width: 305px; text-align: right;">
                                        <p class="report-name">Name</p>
                                        <input id="teamFolderName3" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                    <div class="col" style="min-width: 305px;">
                                        <p class="report-name">URL</p>
                                        <input id="teamFolderURL3" class="report-input" type="text" placeholder="Site name"/>
                                    </div>
                                </div>
                                <div class="submit-container">
                                    <div class="cancel-button" ng-click="cancelEditUrls('myTeamFolders')">Cancel</div>
                                    <div class="save-button" ng-click="saveEditUrls('myTeamFolders')">Save</div>
                                </div>
                            </div>
                            <div class="row">
                                <iframe class="{{'tab-iframe '+((HoldTeamFolderUrl.length == 0)?'invisible':'')}}" ng-src="{{((TeamFolderSelectedUrl != -1)? getUrl(TeamFolderSelectedUrl):'')}}"></iframe>
                            </div>
                        </div>
                        <div class="tab-content" ng-switch-when="3">
                            <div class="tab-controllers row">
                                <div class="open-newtab-button" style="right:0px" ng-click="openNewTab(tabs.publicFolders)" tabindex="0">
                                    <img src="img/expand.png" />
                                </div>
                            </div>
                            <div class="row">
                                <iframe ng-src="{{getUrl(tabs.publicFolders)}}" class="tab-iframe" ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        




        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/plugins.js"></script>
    </body>
</html>
